COMBO_WIDTH:51.2
DECK_X_POSITION:200.0
DECK_WIDTH:200.0
COMBO_HEIGHT:51.2
COMBO_BUBBLE_FONT:com.badlogic.gdx.graphics.g2d.BitmapFont@5e8ce525
COMBO_Y:283.98935
HEALTHBAR_HEIGHT:9.140625
HAND_AREA_BTWN_CARDS:208.31563
DEFAULT_HERO_WIDTH:228.51562
ENEMY_STARTING_X:795.4844
ENEMY_STARTING_Y:347.34375
COMBO_AREA_BETWEEN:71.2
SCREEN_WIDTH:1024.0
CONNECTOR_WIDTH:20.0
FLIP_DECK_X:341.33334
DECK_HEIGHT:200.0
SCREEN_HEIGHT:720.0
DEFAULT_HERO_HEIGHT:351.5625
DECK_Y_POSITION:200.0
HERO_STARTING_Y:347.34375
HAND_HEIGHT:335.18936
HERO_STARTING_X:21.09375
